<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">

	<select id="select_all" resultType="userVO">
		select * from ${user}
		order by ${joinDate}
	</select>
	
	<insert id="insert">
		insert into ${user} (${phone}, ${password}, ${email})
		values (#{phone}, #{password}, #{email})
	</insert>
	
	<update id="update">
		update ${user}
		set ${password} = #{password}, ${email} = #{email}
		where ${phone} = #{phone}
	</update>
	
	<update id="delete">
		update ${user}
		set ${withdrawal} = #{withdrawal}
		where ${phone} = #{phone}
	</update>
	
	<select id="select_by_phone" resultType="String">
		select * from ${user}
		where ${phone} = #{phone}
	</select>
	
</mapper>